KERNEL=="hidraw*", SUBSYSTEM=="hidraw", ATTRS{idVendor}=="feed", ATTRS{idProduct}=="9018", MODE="0660", GROUP="users", TAG+="uaccess", TAG+="udev-acl"
